<!-- <div class="field">
    <label for="name">Name</label>
    <input type="text" pInputText id="name" required autofocus />
    <small class="p-error" *ngIf="submitted">Name is required.</small>
</div>
<div class="field">
    <label for="description">Description</label>
    <textarea id="description" pInputTextarea required rows="3" cols="20"></textarea>
</div>
<div class="field">
    <label for="inventoryStatus">Inventory Status</label>
    <p-dropdown inputId="inventoryStatus" [options]="statuses" placeholder="Select">
        <ng-template let-option pTemplate="item">
            <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
        </ng-template>
    </p-dropdown>
</div>

<div class="field">
    <label class="mb-3">Category</label>
    <div class="formgrid grid">

    </div>
</div>

<div class="formgrid grid">
    <div class="field col">
        <label for="price">Price</label>
        <p-inputNumber id="price" mode="currency" currency="USD" locale="en-US">
        </p-inputNumber>
    </div>
    <div class="field col">
        <label for="quantity">Quantity</label>
        <p-inputNumber id="quantity"></p-inputNumber>
    </div>
</div> -->

<div class="row g-3">
    <div class="col-6">
        <!-- <label for="inputEmail4" class="form-label">Email</label> -->
        <input type="text" pInputText class="form-control bg-dark text-white" placeholder="Order Number"
            aria-label="Order Number" required autofocus>
        <small class="p-error" *ngIf="submitted">Order Number is required.</small>
    </div>
    <div class="col-6">
        <p-dropdown inputId="cities" [options]="cities" placeholder="Select a user..." optionLabel="name"
            [style]="{'width':'100%'}" styleClass="bk-dark" [virtualScroll]="true" [showClear]="true" scrollHeight="10rem">
            <!-- <ng-template let-option pTemplate="item">
                <span>{{option.label}}</span>
            </ng-template> -->
        </p-dropdown>
    </div>
    <div class="col-md-6">
        <input type="text" pInputText class="form-control bg-dark text-white" id="dateTime" placeholder="Date Needed"
            aria-label="Date Needed" required>
    </div>
    <div class="col-md-6">
        <input type="text" pInputText class="form-control bg-dark text-white" id="providerName"
            placeholder="Provider Name" aria-label="Provider Name">
    </div>
    <div class="col-md-12">
        <input type="text" pInputText class="form-control bg-dark text-white" id="observations"
            placeholder="Observations" aria-label="Observations">
    </div>
</div>
<div #buttons class="d-flex align-content-center justify-content-end mt-4">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
</div>