<!-- <div class="container-fluid">

    <div class="row">
        <app-header></app-header>
    </div>
    <div class="row bg-info">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error neque atque perspiciatis numquam blanditiis alias a,
        laudantium magnam et impedit? Accusamus nemo pariatur debitis? Sequi cupiditate a molestias quam delectus?
    </div>
</div>
 -->

<div class="container-fluid" >
    <span>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error neque atque perspiciatis numquam blanditiis
        alias a,
        laudantium magnam et impedit? Accusamus nemo pariatur debitis? Sequi cupiditate a molestias quam delectus?
    </span>
</div>